.jobTitle {
  font-family: "Roboto Mono", monospace;
}

.jobLocation {
  font-family: "Roboto Mono", monospace;
}

.jobCompany {
  font-family: "Roboto Mono", monospace;
}

.jobTech {
  font-family: "Roboto Mono", monospace;
}

.jobDescription {
  font-family: "Roboto Mono", monospace;
}
