.App {
  text-align: center;
  background-color: rgb(214, 197, 205);
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 100pc;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1.5rem;
  margin: 1rem;
}

.socials-logo {
  float: left;
  width: 90px;
  margin: 10px;
}

.App-header {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 38.508px;
  line-height: 50px;
  padding: 0.5rem;

  display: flex;
  justify-content: space-between;

  color: rgb(118, 92, 155);
}

.title {
  line-height: 50px;
  padding: 0.5rem;

  color: rgb(118, 92, 155);
}

.navigation {
  display: flex;
  color: rgb(118, 92, 155);
}

.navigationItem {
  line-height: 50px;
  padding: 0.5rem;
  color: rgb(118, 92, 155);
}

.photoImage {
  grid-column: 3/4;
  grid-row: 1/3;
  max-width: 20%;
  min-width: 100;
  background-size: cover;
  border-radius: 50pc;
  float: left;

  border: 1px solid rgb(118, 92, 155);

  margin-right: 20px;
}

.box {
  flex: 3;
  width: 60pc;

  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;

  border: 1px solid rgb(118, 92, 155);
  background-color: rgb(214, 197, 205);
  color: rgb(57, 54, 44);
  font-family: font-link;
  font-size: small;
  line-height: normal;

  display: flex;
  text-align: justify;
}

.csCoursesBox {
  flex: 1;
  width: 25pc;

  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;

  border: 1px solid rgb(118, 92, 155);
  color: rgb(57, 54, 44);
  font-family: font-link;
  font-size: small;
  line-height: normal;
  text-align: left;
}

.box2 {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 25px;
  background-color: rgb(57, 54, 44);
  font-family: font-link;
  color: rgb(214, 197, 205);
  font-size: large;
}
