@font-face {
  font-family: "Space Grotesk";
  src: url("/src/JustMeAgainDownHere-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font-fun {
  font-family: "Space Grotesk";
  font-size: 100px;
  text-align: left;
}

.font-text {
  font-family: "Roboto Mono", monospace;
  text-align: left;
}

.font-header {
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
}
